<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="fragments/header :: css"/>
</head>
<body>
<h1>staff</h1>

<th:block th:include="fragments/body :: body-link"/>

<th:block th:insert="fragments/footer :: login-out"/>
<th:block th:insert="fragments/footer :: goto-index"/>
</body>
</html>