<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

    <div th:fragment="body-link">
        <hr>
        <li><a href="/admin">admin</a></li>
        <li><a href="/staff">staff</a></li>
        <li><a href="/teacher">teacher</a></li>
        <li><a href="/user">user</a></li>
        <li><a href="/anonymous">anonymous</a></li>
        <li><a href="/myinfo">myinfo</a></li>
        <li><a href="/public/css/default.css">/public/css/default.css</a></li>
    </div>

</html>
