<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Appenders>

		<Console name="stdout">
			<PatternLayout pattern="1111 [%5p][%d](%F[%M]:%L) - %m%n" />
		</Console>

		<RollingFile name="dailyLog" fileName="logs/hp.log">
			<PatternLayout pattern="2222 [%5p][%d](%F[%M]:%L) - %m%n" />
		</RollingFile>

	</Appenders>

	<Loggers>

<!--		<Logger name="com.hp" level="debug">-->
<!--			<AppenderRef ref="stdout" />-->
<!--		</Logger>-->
<!--		<Logger name="java.sql.Connection" level="debug">-->
<!--		</Logger>-->
<!--		<Logger name="java.sql.Statement" level="debug">-->
<!--		</Logger>-->
<!--		<Logger name="java.sql.PreparedStatement" level="debug">-->
<!--		</Logger>-->
<!--		<Logger name="java.sql.ResultSet" level="debug">-->
<!--		</Logger>-->

		<Root level="trace">
			<AppenderRef ref="stdout" />
			<AppenderRef ref="dailyLog" />
		</Root>

	</Loggers>

</Configuration>
