<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Appenders>

		<Console name="stdout">
			<PatternLayout>
				<Pattern>1111 [%5p][%d](%F[%M]:%L) - %m%n</Pattern>
			</PatternLayout>
		</Console>

		<RollingFile name="dailyLog"
					 fileName="logs/app.log"
					 filePattern="logs/app.log.%d{yyyy-MM-dd}">
			<PatternLayout>
				<Pattern>2222 [%5p][%d](%F[%M]:%L) - %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>

	</Appenders>

	<Loggers>

		<Logger name="com.hp" level="debug">
			<AppenderRef ref="stdout" />
			<AppenderRef ref="dailyLog" />
		</Logger>
		<Logger name="java.sql.PreparedStatement" level="debug">
			<AppenderRef ref="stdout" />
			<AppenderRef ref="dailyLog" />
		</Logger>

		<Root level="trace">
			<AppenderRef ref="stdout" />
			<AppenderRef ref="dailyLog" />
		</Root>

	</Loggers>

</Configuration>
